<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <a href="{{ url_for('new') }}">New container</a>
    <a href="{{ url_for('all_containers') }}">All containers</a>
    <h1>Here are my containers:</h1>
    <ul>
      {% for minion in minions %}
      <li>
        <a href="{{ url_for('start', cont_id=minion.container.Id) }}">Start</a>
        <a href="{{ url_for('login', cont_id=minion.container.Id) }}">Login</a>
        <ul>
          <li>Names: {{ minion.container.Names }}</li>
          <li>Id: {{ minion.container.Id }}</li>
          <li>Image: {{ minion.container.Image }}</li>
          <li>ImageID: {{ minion.container.ImageID[:12] }}</li>
          <li>Status: {{ minion.container.Status }}</li>
          <li>Ports: {{ minion.container.Ports }}</li>
          <li>Label: {{ minion.container.Label }}</li>
          <li>Created: {{ minion.container.Created }}</li>
        </ul>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
