<!DOCTYPE html>
<html>
  <head>
    <title>Manifold</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/material.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/manifold.css') }}">
    <script src="{{ url_for('static', filename='js/material.min.js') }}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  </head>
  <body>
    <!-- Uses a transparent header that draws on top of the layout's background -->
    <style>
    .layout-transparent {
      background: url('{{ url_for('static', filename='img/transparent.jpg') }}') center / cover;
    }
    .layout-transparent .mdl-layout__header,
    .layout-transparent .mdl-layout__drawer-button {
      /* This background is dark, so we set text to white. Use 87% black instead if
         your background is light. */
      color: white;
    }
    </style>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Manifold<i class="material-icons md48">face</i></span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="http://github.com">
              <i class="material-icons">code</i>
            </a>
          </nav>
        </div>
      </header>
      <main class="mdl-layout__content">
        {% for message in get_flashed_messages() %}
          <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block body %}{% endblock %}
      </main>
      <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
          <div class="mdl-logo">Manifold</div>
          <ul class="mdl-mini-footer__link-list">
            <li><a href="#">Help</a></li>
            <li><a href="#">Privacy & Terms</a></li>
          </ul>
        </div>
      </footer>
    </div>
  </body>
</html>
